<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!-- LOGO -->
        <a href="{% url 'dashboard' %}" class="logo text-center">
            <span class="logo-lg">
                <img src="" alt="" style="width: 90%;">
            </span>
            <span class="logo-sm">
                <img src="/static/dashboard/assets/images/logo_sm.png" alt="" height="16">
            </span>
        </a>

        <!--- Sidemenu -->
        <ul class="metismenu side-nav">

            <li class="side-nav-title side-nav-item">Menu</li>

            <li class="side-nav-item">
                <a href="{% url 'dashboard' %}" class="side-nav-link">
                    <i class="dripicons-meter"></i>
                    <span> Dashboard </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'processo-list' %}" class="side-nav-link">
                    <i class="dripicons-checklist"></i>
                    <span> Lista de processos </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'calendario' %}" class="side-nav-link">
                    <i class="dripicons-calendar"></i>
                    <span> Calendário </span>
                </a>
            </li>
            
        </ul>

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->