{% extends 'account/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-5">
        <div class="card">

            <!-- Logo -->
            <div class="card-header pt-4 pb-4 text-center bg-primary">
                <a href="{% url 'dashboard' %}">
                    <span><img src="assets\images\logo.png" alt="" height="18"></span>
                </a>
            </div>

            <div class="card-body p-4">
                
                <div class="text-center w-75 m-auto">
                    <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Login</h4>
                    <p class="text-muted mb-4">Digite seu endereço de e-mail e senha para acessar o painel de administração.</p>
                </div>

                <form action="{% url 'account_login' %}" method="POST" id="sign_in">{% csrf_token %}

                    <div class="form-group">
                        <label for="emailaddress">E-mail:</label>
                        <input id="{{ form.login.id_for_label }}" name="{{ form.login.html_name }}" type="text" placeholder="E-mail" autocomplete="off"
                        class="form-control"> 
                    </div>
                    
                    <div class="form-group">
                        <a href="#" class="text-muted float-right"><small>Esqueceu sua senha? </small></a>
                        <label for="password">Senha:</label>
                        <input id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" type="password" placeholder="Password"
                        class="form-control">
                    </div>

                    <div class="form-group mb-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked="">
                            <label class="custom-control-label" for="checkbox-signin">Lembre me</label>
                        </div>
                    </div>

                    <div class="form-group mb-0 text-center">
                        <button class="btn btn-primary" type="submit"> Entrar </button>
                    </div>

                </form>
            </div> <!-- end card-body -->
        </div>
        <!-- end card -->

        <div class="row mt-3">
            <div class="col-12 text-center">
                <p class="text-muted">Não tem uma conta? <a href="{% url 'account_signup' %}" class="text-dark ml-1"><b>Inscrever-se</b></a></p>
            </div> <!-- end col -->
        </div>
        <!-- end row -->

    </div> <!-- end col -->
</div>
{% endblock %}