{% extends 'account/base.html' %}

{% block content %}
<div class="signup-box">
    <div class="logo">
        <h3 align="center">Construnote</h3>
        <!-- <img width="250" src="/static/custom/img/logo.png" alt=""> -->
    </div>
    
    <div class="card">
        <div class="body">
            <div class="msg">Alteração de senha confirmada!</div>

            <div class="input-group">
                Em alguns instantes você receberá em seu email um link para alteração
                de sua senha.

            </div>

            <div class="alert alert-warning fade in alert-dismissible" style="margin-top:18px;text-align:center;">
                <strong>Atenção! Clique no link em seu email para alterar sua senha.</strong>
            </div>

            <div class="m-t-25 m-b--5 align-center">
                <a style="color:#00bcd4;"  href="{% url 'account_login' %}">Voltar para o login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
