{% extends 'account/base.html' %}

{% block content %}
<div class="login-box">
    <div class="logo text-center">
        <h3 align="center">Construnote</h3>
        <!-- <img width="250" src="/static/custom/img/logo.png" alt=""> -->
    </div>
    <br/>
    <div class="card">
        <br/>
        <div class="title">
            <b style="margin-left:100px;">MUDANÇA DE SENHA</b>
        </div>
        <div class="body">
            <form id="password_change" method="POST" action="{% url 'account_change_password' %}">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <small>{{ form.oldpassword.errors }}</small>
                        <input type="password" class="form-control" id="{{ form.oldpassword.id_for_label }}" name="{{ form.oldpassword.html_name }}" placeholder="Senha antiga" required autofocus>   
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <small>{{ form.password1.errors }}</small>
                        <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}" placeholder="Senha nova" required>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <small>{{ form.password2.errors }}</small>
                        <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}" placeholder="Repitir senha" required>
                    </div>
                </div>
                <small>
                    {{ form.non_field_errors }}
                </small>
                <div class="row">
                    <div class="col-xs-12">
                        <a class="btn btn-block bg-dark-blue waves-effect" href="{% url 'dashboard' %}">Voltar</a>
                    </div>
                    <div class="col-xs-12">
                        <button class="btn btn-block bg-dark-blue waves-effect" type="submit">Alterar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}