{% extends 'account/base.html' %}

{% block content %}

<div class="login-box">
    <div class="logo text-center">
        <h3 align="center">Construnote</h3>
        <!-- <img width="250" src="/static/custom/img/logo.png" alt=""> -->
    </div>
    <br/>
    <div class="card">
        <div class="body">
            <form id="new_password" method="POST" action="{{ action_url }}">
                {% csrf_token %}

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <small>{{ form.password1.errors }}</small>
                        <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}" placeholder="Nova Senha" required autofocus>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <small>{{ form.password2.errors }}</small>
                        <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}" placeholder="Repetir Senha" required>
                    </div>
                </div>

                <small>
                    {{ form.non_field_errors }}
                </small>

                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-block bg-dark-blue waves-effect" type="submit">ALTERAR</button>
                    </div>
                    <div class="col-xs-12">
                        <a class="waves-effect" href="{% url 'account_login' %}">
                            Voltar ao login
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="/static/dashboard/theme/js/pages/examples/sign-in.js"></script>
{% endblock %}