{% extends 'email/base.html' %}

{% block content %}
<div style="width:90%;margin-left:20px;">
    <h5>
        Prezado(a) Cliente,
    </h5>

    <br/>
                                            
    <p>
        Sua conta foi criada com sucesso e precisamos apenas que você confirme seu endereço de email
        <br/>
        Favor ignorar este email se você não possui uma conta conosco. 
        <br/>
        Para confirmar seu email clique no link abaixo.
        <br/>
        <a href="{{ activate_url }}">{{ activate_url }}</a>
    </p>

    <p>
        Agradecemos sua atenção,
        <br/>
        <b>Equipe Construnote.</b>
    </p>
</div>
{% endblock %}

