{% extends 'account/base.html' %} 

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-5">
        <div class="card">
            <!-- Logo-->
            <div class="card-header pt-4 pb-4 text-center bg-primary">
                <a href="index.html">
                    <span><img src="assets\images\logo.png" alt="" height="18"></span>
                </a>
            </div>

            <div class="card-body p-4">
                
                <div class="text-center w-75 m-auto">
                    <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Inscrição gratuita</h4>
                    <p class="text-muted mb-4">Não tem uma conta? Crie sua conta, leva menos de um minuto.</p>
                </div>

                <form id="signup-form" method="POST" enctype="multipart/form-data">{% csrf_token %}

                    <div class="form-group">
                        <label for="fullname">Nome Completo:</label>
                        {{form.nome_completo}}
                    </div>

                    <div class="form-group">
                        <label for="fullname">OAB:</label>
                        {{form.oab}}
                    </div>

                    <div class="form-group">
                        <label for="emailaddress">E-mail:</label>
                        {{form.email}}
                    </div>

                    <div class="form-group">
                        <label for="password">Senha:</label>
                        {{form.senha}}
                    </div>
                    
                    <div class="form-group">
                        {{message}}
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkbox-signup">
                            <label class="custom-control-label" for="checkbox-signup">Eu aceito <a href="#" class="text-dark"> Termos e Condições</a></label>
                        </div>
                    </div>

                    <div class="form-group mb-0 text-center">
                        <button class="btn btn-primary" type="submit"> Inscrever-se </button>
                    </div>

                </form>
            </div> <!-- end card-body -->
        </div>
        <!-- end card -->

        <div class="row mt-3">
            <div class="col-12 text-center">
                <p class="text-muted">Já tem conta? <a href="{% url 'dashboard' %}" class="text-dark ml-1"><b>Login </b></a></p>
            </div> <!-- end col-->
        </div>
        <!-- end row -->

    </div> <!-- end col -->
</div>
{% endblock %} 

{% block javascript %}
<!-- SweetAlert -->
<script src="/static/dashboard/src/js/lib/sweetalert/sweetalert.js"></script>
<!-- Validation Plugin Js -->
<script src="/static/dashboard/theme/plugins/jquery-validation/jquery.validate.js"></script>
<!-- Custom Js -->
<script src="/static/dashboard/theme/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
<!-- CPF / CNPJ VALIDATOR JS -->
<script src="/static/dashboard/src/js/lib/jquery-cpf-cnpj/jquery.cpfcnpj.js"></script>
<script>
    var id_full_name = "#{{form.full_name.auto_id}}";
    var id_email = "#{{form.email.auto_id}}";
    var id_cpf = "#{{form.cpf.auto_id}}";
    var id_phone = "#{{form.phone.auto_id}}";
    var id_birth_date = "#{{form.birth_date.auto_id}}";
    var id_image = "#{{form.image.auto_id}}";
    var id_user_terms = "#{{form.user_terms.auto_id}}";
    var id_password = "#{{form.password.auto_id}}";
    var id_confirm_password = "#{{form.confirm_password.auto_id}}";

</script>
<!-- CUSTOM JS -->
<script src="/static/custom/js/signup.js"></script> 

{% endblock %}