{% extends 'dashboard/base.html' %} 
{% load staticfiles %} 

{% block css %}
{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Appolo</a></li>
                        <li class="breadcrumb-item active">Formulário de usuário</li>
                    </ol>
                </div>
                <h4 class="page-title">Formulário de usuário</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Edição do usuário</h4>

                    <div class="row">
                        <div class="col-lg-12">
                            <form id="usuario-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-label">Nome Completo</label>
                                            {{form.nome_completo}}
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-label">CPF</label>
                                            {{form.cpf}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">E-mail</label>
                                            {{form.email}}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">Telefone</label>
                                        {{form.telefone}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-11">
                                        <a class="btn btn-secondary" href="{% url 'usuario-list' %}">Cancelar</a>
                                    </div>
                                    <div class="float-left">
                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                    </div>
                                </div>
                            </form>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row-->

                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div><!-- end col -->
    </div>
    <!-- end row -->
</div>
{% endblock %} 

{% block javascript %}

{% endblock %}

